*{
    font-family: 'Roboto', sans-serif;
}
body {
    background-color: #0c0036;
}

.clock {
    color: #fff;
    font-size: 20rem;
    font-weight: bold;
    line-height: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 10rem;
}

.username {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 5rem;
    font-size: 4rem;
    color: #fff;
    font-weight: bold;
}




@media only screen and (max-width: 1000px) {
    .clock {
        font-size: 10rem;
        display: block;
        text-align: center;
        margin-top: 1rem;
    }
    .username{
        display: block;
        font-size: 3rem;
        text-align: center;
        margin-top: 1rem;
    }
}